<title>Dial</title>

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head_title %}
{% endblock %}


{% block extra_header %}
	<style>

      #chart-container {
          text-align: center;
      }

      canvas {
          position: absolute;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;

      }
  </style>

<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<canvas id="chartjs-0" class="chartjs" width="415" height="207" style="display: block; width: 415px; height: 207px;"></canvas>

	<script>
      new Chart(
              document.getElementById(
                      "chartjs-0"
              ),
              {
                "type":"line",
                "data":{
                  "labels":[
                          "January",
                    "February",
                    "March",
                    "April",
                    "May",
                    "June",
                    "July"
                  ],
                  "datasets":
                          [{
                  "label":"My First Dataset",
                            "data":[65,59,80,81,56,55,40],
                            "fill":false,
                            "borderColor":"rgb(75, 192, 192)",
                            "lineTension":0.1
                }]},
                "options":{}});
    </script>


{% endblock %}

{% block body_content %}
{% if user.is_authenticated %}



  {% block extra_footer %}

    <div id="chart-container"></div>

  {% endblock %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}

