<title>Dial</title>

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head_title %}
{% endblock %}


{% block extra_header %}
  <style>
      #chart-container {
          text-align: center;
      }
  </style>

	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    <script type="text/javascript">
        var url = 'http://127.0.0.1:8000/rest/current_sentiment/'
        var choices;

        $.ajax({
            url: url,
            success: function(data) {
                choices = data;

                //utilize your callback function
                doSomething(choices);
                }
            });

        //this is your callback function
        function doSomething(param) {
            console.log(param[0]);
            //do something with your parameter
            var sentiment_score = param[0].ema;

            console.log(param);
            console.log(sentiment_score);

            FusionCharts.ready(function(){
                var chartObj = new FusionCharts({
                type: 'angulargauge',
                renderAt: 'chart-container',
                width: '50%',
                height: '50%',
                dataFormat: 'json',
                dataSource: {
                             "chart": {
                                "caption": "Crypto Market Sentiment",
                                "subcaption": "Last week",
                                "lowerLimit": "-1",
                                "upperLimit": "1",
                                "lowerLimitDisplay": "Bad",
                                "upperLimitDisplay": "Good",
                                "showValue": "-.5, 1",
                                "valueBelowPivot": "1",
                                "theme": "fusion"
                             },
                             "colorRange": {
                                "color": [
                                   {
                                      "minValue": "-1",
                                      "maxValue": "0",
                                      "code": "#e44a00"
                                   },
                                   {
                                      "minValue": "0",
                                      "maxValue": ".5",
                                      "code": "#f8bd19"
                                   },
                                   {
                                      "minValue": ".5",
                                      "maxValue": "1",
                                      "code": "#6baa01"
                                   }
                                ]
                             },
                             "dials": {
                                "dial": [
                                   {
                                      "value": sentiment_score
                                   }
                                ]
                             }
                          }
            }
            );
                chartObj.render();
            });
        }
    </script>


{% endblock %}

{% block body_content %}
{% if user.is_authenticated %}



  {% block extra_footer %}

    <div id="chart-container"></div>

  {% endblock %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}

