<title>Sign Up</title>

{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head_title %}
  {% trans "Map Page" %}
{% endblock %}


{% block extra_header %}<style>#map {width: 20vw;height: 10vh;}</style>{% endblock %}

{% block body_content %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
{% endblock %}

