<!DOCTYPE html>
{% load leaflet_tags %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load pwa %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% progressive_web_app_meta %}
    <title>AWM2021 Sample. {% block head_title %}{% endblock %} </title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!## CSS only ##>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"crossorigin="anonymous">
    <!## JS, Popper.js, and jQuery ##>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    {% leaflet_css %}
    {% leaflet_js %}
    {% block extra_header %}
    {% endblock %}
</head>
<body>
<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
            <img src="{% static 'images/cryptoicon.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            CryptoCaller
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'dial' %}">Dial</a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                    {% endif %}
            </div>
        </div>
    </nav>
</div>
<div id="body_div"
     style="padding: 1rem;
      width: 100%">
    {% block body_content %}
    {% endblock %}
</div>
{% block extra_footer %}
{% endblock %}
</body>
</html>