<title>Home</title>

{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head_title %}
  {% trans "Map Page" %}
{% endblock %}


{% block extra_header %}<style>#map {width: 20vw;height: 10vh;}</style>{% endblock %}

{% block body_content %}

{% if user.is_authenticated %}

    {% if latest_question_list %}
        <ul class="list-group list-group-flush" style="text-align: center">
        {% for question in latest_question_list %}
            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <form>
      <a href="{% url 'signup' %}">Sign Up</a>
    </form>

{% endif %}

{% endblock %}

